{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> 400 Bad Request | ApostolicTestimony </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">

</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-2 bg-white" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-11 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="{% url 'index' %}" class="text-black h2 mb-0"
                                style="font-family:arial rounded mt; font-size: 16px;">Apostolic Testimony</a></h1>
                    </div>

                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;">

                    </div>

                </div>

            </div>
    </div>
    <hr style="border: 1px solid #7971ea;">
    </header>

    <section class="message-sent container">
        <video src="{% static "media/giphy-somwthomg.gif" %}" autoplay loop style="position: fixed;
        right: 0;bottom: 0;min-width: 100%;min-height: 100%;"></video>
        <h4 style="position: fixed;
        right: 0;bottom: 0;">400 Bad Request</h4>

    </section>


    </div>
    <script id="dsq-count-scr" src="//apostolictestimony.disqus.com/count.js" async></script>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/rangeslider.min.js' %}"></script>
    <script src="{% static 'js/alert_handling.js' %}"></script>



    <script src="{% static 'js/typed.js' %}"></script>
    <script>

        let typed = new Typed('.typed-words', {
            strings: ["a tool to put the devil to shame.",
                "the physical prove of God's Love!",
                " an Encouragment to others.",
                " a reminder of God's Might!"],
            typeSpeed: 60,
            backSpeed: 80,
            backDelay: 400,
            startDelay: 100,
            loop: true,
            showCursor: true,
            // shuffle: true
        });
    </script>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>