{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> About | Apostolic Testimony </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/rangeslider.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-2 bg-white" role="banner">

    <div class="container">
      <div class="row align-items-center">
    
        <div class="col-11 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="{% url 'index' %}" class="text-black h2 mb-0"
              style="font-family:arial rounded mt; font-size: 16px;">Apostolic Testimony</a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
    
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="{% url 'index' %}"><span>Home</span></a></li>
              <li class="active"><a href="{% url 'about' %}"><span>About</span></a></li>
              <li><a href="{% url 'contact' %}"><span>Contact</span></a></li>
              <li><a href="{% url 'create_post' %}"><span>Add testimony +</span></a></li>
              <li class="has-children">
                <a>
                  <span><img {% if request.user.publicuser.profile_img %} src="{{request.user.publicuser.profile_img.url}}" {% else %}
                                src="{% static 'images/avatar.png' %}"{% endif %} alt="Image"
                      style="width: 50px;border: 2px solid #7971ea; border-radius: 50%;height: 50px;"></span></a>
                <ul class="dropdown">
                  {% if user.is_authenticated %}
                  <li><a href="{% url 'dashboad' %}">User Profile</a></li>
                  <li><a href="{% url 'sigout' %}">Log Out</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                  {% endif %}
                  {% if not user.is_authenticated %}
                  <li><a href="{% url 'signUp' %}">Sign Up</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </nav>
        </div>
    
    
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
            class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
        </div>
    
      </div>
    
    </div>
      
    </header>

  

    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url({% static 'images/hero_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">

          <div class="col-md-10">
            
            
            <div class="row justify-content-center">
              <div class="col-md-8 text-center">
                <h1 data-aos="fade-up">About Us</h1>
                <p class="mb-0" data-aos="fade-up" data-aos-delay="100">What is apostolictestimony!</p>
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>  


    
    <div class="site-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <img style="border-radius: 50%;" 
            src="{% static 'images/only Jesus.jpg' %}" alt="Image" class="img-fluid rounded">
            <span>Photo by <a href="https://unsplash.com/@hannahbusing?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hannah Busing</a> on <a href="https://unsplash.com/s/photos/testimony?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
          </div>
          <div class="col-md-5 ml-auto mt-4">
            <h2 class="text-primary mb-3">It Not Just About Us</h2>
            <p>
              <span style="font-weight: bold;">Apostolic Testimony</span>
              <span>was brought about by an inspiration from the Almighty God. A place where Christains can give testimonies of
                what God has done for them, or their neighboor to the glory of the Most high and as a point of encoragement 
                to others 
              </span>
            </p>
            <h4 class="text-primary mt-3">Developer</h4>
            <p>
              <span>My name is </span>
              <span style="font-weight: bold;">Adegite Taiwo</span>
              <span>,i am a Mobile Web Developer i bless the LORD God for His grace, knownledge and resources for the completion of this great
                platform. I also use this medium to appreciate my fellow team members
              </span>
              <span class="text-primary">@</span>
              <span>T4C</span>
              <span>for their support and encouragement. I appreciate my big sis </span>
            </p>

            <p class="mt-3"></p>
            <ul class="ul-check list-unstyled success">
              <li>Adegite Adeyemi</li>
              <li>Adegite Adeola</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section " data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-left border-primary">
            <h2 class="font-weight-light text-primary">Mission</h2>
          </div>
        </div>
        <div>
          <p>To serve as a testimony platform for everyone from far and near, to glorify our God and to bless his Holy name.</p>
        </div>
      </div>
    </div>
    
    <div class="site-section " data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-left border-primary">
            <h2 class="font-weight-light text-primary">Tech For Christ (T4C)</h2>
            <p class="color-black-opacity-5">Team members</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img width="300" height="200" src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Lanre</h3>
            <p class="caption text-primary">Team Lead - Graphics and UI/UX designer</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 mt-md-5">
            <img width="300" height="300" src="{% static 'images/coker demilade.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Demilade</h3>
            <p class="caption text-primary">Full stack Web Developer</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img width="300" height="300" src="{% static 'images/me.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Taiwo</h3>
            <p class="caption text-primary">Web Developer(Back-end) &amp; Junior Data scientist</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 mt-md-5">
            <img width="300" height="300" src="{% static 'images/person_4.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Kehinde</h3>
            <p class="caption text-primary">Android Developer &amp; Junior Data scientist</p>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <img width="300" height="300" src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-3">
            <h3 class="h4">Caleb</h3>
            <p class="caption text-primary">Pythonister &amp; Junior Data scientist</p>
          </div>
          
        </div>
    
      </div>
    </div>

    
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center border-primary">
            <h2 class="font-weight-light text-primary">Some Answered Question</h2>
            <p class="color-black-opacity-5">answers to questions you may want to ask</p>
          </div>
        </div>
    
    
        <div class="row justify-content-center">
          <div class="col-8">
            {% for askedQuestion in askedQuestions %}
            <div class="border p-3 rounded mb-2">
              <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1"
                class="accordion-item h5 d-block mb-0">{{askedQuestion.question}}</a>
    
              <div class="collapse" id="collapse-1">
                <div class="pt-2">
                  <p class="mb-0">{{askedQuestion.answer | safe}}</p>
                </div>
              </div>
            </div>
            {% endfor %}
    
          </div>
    
        </div>
    
      </div>
    </div>
    
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Quick Links</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'index' %}">Testimony shop</a></li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h2 class="footer-heading mb-4">Follow Us</h2>
            <a href="https://web.facebook.com/Apostolic-Testimony-101094998346957" target="_blank"
              class="pl-0 pr-3"><span class="icon-facebook"></span>acebook</a>
            <a href="https://twitter.com/apostolictesti1" class="pl-0 pr-3" target="_blank"><span
                class="icon-twitter"></span></a>
          </div>
          <div class="col-md-6">
            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="." method="post" id="subscribe_form">
              {% csrf_token %}
              <div class="input-group mb-3">
                {{form.email}}
                <div class="input-group-append">
                  <button class="btn btn-primary text-white" type="submit" id="button-addon2">Send</button>
                </div>
              </div>
            </form>
            <div id="message-card" class="alert alert-dismissible fade show">
              <span class="card-body">
                <a id="message"></a>
                <i id='message-icon' class=""></i>
              </span>

            </div>
            <!-- alert-message end -->
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed
            with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://mobile.twitter.com/TaiwoAdegite"
              target="_blank">adegitetaiwo</a> |
            Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>

    </div>
  </div>
</footer>
</div>
<script id="dsq-count-scr" src="//apostolictestimony.disqus.com/count.js" async></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/rangeslider.min.js' %}"></script>



<script src="{% static 'js/typed.js' %}"></script>
<script>
  var typed = new Typed('.typed-words', {
    strings: ["a Tool to put the devil to shame.",
      "the physical prove to God's Love!",
      " an Encouragment to the weak.",
      " a reminder of God's Might!"],
    typeSpeed: 60,
    backSpeed: 80,
    backDelay: 4000,
    startDelay: 1000,
    loop: true,
    showCursor: true
  });
</script>

<script src="{% static 'js/main.js' %}"></script>

<script>
  $(document).ready(() => {
    $(document).on('submit', '#subscribe_form', (e) => {
      e.preventDefault();

      let email_input = $('#subscribe_input').val()
      let messageCard = document.getElementById('message-card'),
        message = document.getElementById('message'),
        messageIcon = document.getElementById('message-icon')


      const emailIsValid = (mailInput) => {
        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(mailInput)
      }

      $.ajax({
        type: 'POST',
        url: '',
        data: {
          email: email_input,
          csrfmiddlewaretoken: $('input[name= csrfmiddlewaretoken]').val(),
        },

        success: () => {
          if (emailIsValid(email_input)) {
            //set message card class
            messageCard.classList.remove('alert-warning')
            messageCard.classList.add('alert-success')
            //set success text message
            message.textContent = 'Thank you for your Subscription, please check your Email for Update'
            messageIcon.className = 'icon icon-check'

            //hide form
            $('#subscribe_form').hide()

          } else {
            //set message card class
            messageCard.classList.remove('alert-success')
            messageCard.classList.add('alert-warning')
            //set success text message
            message.textContent = 'Something went wrong please check your email is if it Valid'
            messageIcon.className = 'icon icon-warning'

          }

        },
        error: () => {
          //set message card class
          messageCard.classList.remove('alert-success')
          messageCard.classList.add('alert-warning')
          //set success text message
          message.textContent = 'Something went wrong please check your email is if it Valid'
          messageIcon.className = 'icon icon-warning'
        },
      })
    });

    $(document).on('submit', '#create_form', (e) => {
      let confirm_form = confirm(`Are you sure you want to submit ? Testimony won't be editable after submission. If you'll still like to cross-check for typo errors Click 'Cancel' otherwise Click 'OK' `);

      if (!confirm_form) {
        e.preventDefault()
      }
    });

  });

</script>

</body>

</html>
    