{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> addiction | Apostolic Testimony </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173198413-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-173198413-1');
    </script>


</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-2 bg-white" role="banner">

        <div class="container">
            <div class="row align-items-center">
        
                <div class="col-10 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="{% url 'index' %}" class="text-black h2 mb-0"
                            style="font-family:arial rounded mt; font-size: 16px;">Apostolic Testimony</a></h1>
                </div>
                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">
        
                        <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="{% url 'index' %}"><span>Home</span></a></li>
                            <li><a href="{% url 'about' %}"><span>About</span></a></li>
                            <li><a href="{% url 'contact' %}"><span>Contact</span></a></li>
                            <li><a href="{% url 'create_post' %}"><span>Add testimony +</span></a></li>
                            <li class="has-children active">
                                <a><span>Categories</span></a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'salvation' %}">Salvation</a></li>
                                    <li><a href="{% url 'health' %}">Health</a></li>
                                    <li class="active"><a href="{% url 'addiction' %}">Addiction</a></li>
                                    <li><a href="{% url 'finance' %}">Finance</a></li>
                                    <li><a href="{% url 'protection' %}">Protection</a></li>
                                    <li><a href="{% url 'others' %}">Others</a></li>
                            
                                </ul>
                            </li>
                            <li class="has-children">
                                <a>
                                    <span><img {% if request.user.publicuser.profile_img %} src="{{request.user.publicuser.profile_img.url}}" {% else %}
                                src="{% static 'images/avatar.png' %}"{% endif %} alt="Image"
                                            style="width: 50px;border: 2px solid #7971ea; border-radius: 50%;height: 50px;"></span></a>
                                <ul class="dropdown">
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'dashboad' %}">User Profile</a></li>
                                    <li><a href="{% url 'sigout' %}">Log Out</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                                    {% endif %}
                                    {% if not user.is_authenticated %}
                                    <li><a href="{% url 'signUp' %}">Sign Up</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
        
        
                <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
                        class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                </div>
        
            </div>
        
        </div>

    </header>

    <!--testimony Categories-->
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center border-primary">
                    <h4 class="font-weight-light text-primary">Category : Addiction</h4>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">Share, Encourage &amp; be inspired</h2>
                    <p class="color-black-opacity-5">inspired ? Let others know about God's love </p>
                </div>
            </div>
            <div class="site-section">
                <div class="container">
                    <div class="row">

                        <div class="col-md-8">

                            <div class="row">
                                {% if paginated_posts != '' %}
                                {% for testimony in paginated_posts %}
                                <div class="d-block d-md-flex listing-horizontal" style="width: 200rem;">
                                
                                    <!-- screen less than 766 -->
                                    <div class="mr-5">
                                        <span class="badge badge-pill badge-secondary mt-3"
                                            style="background: #7971ea; color: white;width: 8rem; height: 1.4rem;" id="cat_tag_small">
                                            {{testimony.category}}
                                        </span>
                                    </div>

                                
                                    <div class="lh-content">
                                        <h3><a href="/detailed/{{testimony.id}}/{{testimony.slug}}/">{{testimony.title}}</a></h3>
                                        <p><i class="icon icon-user"></i> <span style="font-weight: bold;">{{testimony.author}}</span></p>

                                        <p>
                                            <span class="icon-comment text-success"></span>
                                            <a href="/detailed/{{testimony.id}}/{{testimony.slug}}/#disqus_thread">Join the Discussion</a></span>
                                        </p>
                                    </div>

                                    <!-- screen greater than 766 -->
                                    <div class="mr-5">
                                        <span class="badge badge-pill badge-secondary mt-3"
                                            style="background: #7971ea; color: white;width: 8rem; height: 1.4rem;" id="cat_tag_large">
                                            {{testimony.category}}
                                        </span>
                                    </div>

                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="container">
                                    <div class="d-block d-md-flex listing-horizontal card  alert-warning">
                                        <div class="lh-content">
                                            <h3>Sorry there is no testimony on Addiction</h3>
                                            <p>Before you became saved or even while you were saved did you had one addiction or the other and have prayed about it, now you look back through those past and the LORD God has delivered you completely! Why don't you share your testimony to glorify the LORD God hand also to encourage others please</p>
                                            <a href="{% url 'create_post' %}">Click Here</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                            <div class="col-12 text-center mt-5">
                                <p class="custom-pagination">
                                    {% for page_number in paginator.page_range %}
                                    
                                    {% if page_number == paginated_posts.number %}
                                    <span>{{page_number}}</span>
                                    {% elif page_number > paginated_posts.number|add:'-3' and page_number < paginated_posts.number|add:'3' %}
                                    <a href="?{{page_request_varable}}={{page_number}}">{{page_number}}</a>
                                    {% endif %}
                                    {% endfor %}
                                    {% if paginator.num_pages > 6 %}
                                    <span>....</span>
                                    <a href="?{{page_request_varable}}={{paginator.num_pages}}">{{paginator.num_pages}}</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>

                        <div class="col-md-3 ml-auto">
                            <div class="mb-5">
                                <h3 class="h5 text-black mb-3">Search</h3>
                                <form method="post" action="{% url 'search' %}">
                                    {% csrf_token %}
                                    <div class="form-group d-flex">
                                        <input type="text" class="form-control" name="search" placeholder="Search keyword and hit enter...">
                                    </div>
                                </form>
                            </div>

                            <div class="mb-5">
                                <h3 class="h5 text-black mb-3">In case you've not read!</h3>
                                <ul class="list-unstyled">
                                    {% for recent in testimonies %}
                                    <li class="mb-2"><a href="/detailed/{{recent.id}}/{{recent.slug}}/">{{recent.title}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center border-primary">
                    <h2 class="font-weight-light text-primary">Some Answered Question</h2>
                    <p class="color-black-opacity-5">answers to questions you may want to ask</p>
                </div>
            </div>
    
    
            <div class="row justify-content-center">
                <div class="col-8">
                    {% for askedQuestion in askedQuestions %}
                    <div class="border p-3 rounded mb-2">
                        <a data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false"
                            aria-controls="collapse-1" class="accordion-item h5 d-block mb-0">{{askedQuestion.question}}</a>
    
                        <div class="collapse" id="collapse-1">
                            <div class="pt-2">
                                <p class="mb-0">{{askedQuestion.answer | safe}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
    
                </div>
    
            </div>
    
        </div>
    </div>

    {% endblock %}
