    {% load static %}
   {% block content %}
    {% endblock %}
    <div class="py-5 bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-2 text-white">Let's get started. Create your account</h2>
                    <p class="mb-4 lead text-white-opacity-05">we overcome the devil by our testimonies, you'll like to share a testimony to the world ?
                        it only takes few minute to setup you account
                    </p>
                    <p class="mb-0"><a href="{% url 'signUp' %}"
                            class="btn btn-outline-white text-white btn-md font-weight-bold">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'index' %}">Testimony shop</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
        
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="https://web.facebook.com/Apostolic-Testimony-101094998346957" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span>acebook</a>
                            <a href="https://twitter.com/apostolictesti1" class="pl-0 pr-3" target="_blank"><span class="icon-twitter"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mt-4">
                    <h5>please go to the <a href="{% url 'index' %}">Home</a> page footer to subscribe for latest testimony</h5>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed
                            with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://mobile.twitter.com/TaiwoAdegite" target="_blank">adegitetaiwo</a> |
                            Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/rangeslider.min.js' %}"></script>



    <script src="{% static 'js/typed.js' %}"></script>
    <script>
        var typed = new Typed('.typed-words', {
            strings: ["a Tool to put the devil to shame.",
                "the physical prove to God's Love!",
                " an Encouragment to the weak.",
                " a reminder of God's Might!"],
            typeSpeed: 60,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });
    </script>

    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>