    {% load static %}
   {% block content %}
    {% endblock %}
    <div class="py-5 bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="mb-2 text-white">Let's get started. Create your account</h2>
                    <p class="mb-4 lead text-white-opacity-05">we overcome the devil by our testimonies, you'll like to share a testimony to the world ?
                        it only takes few minute to setup you account
                    </p>
                    <p class="mb-0"><a href="{% url 'signUp' %}"
                            class="btn btn-outline-white text-white btn-md font-weight-bold">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'about' %}">About Us</a></li>
                                <li><a href="{% url 'index' %}">Testimony shop</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                            </ul>
                        </div>
        
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="https://web.facebook.com/Apostolic-Testimony-101094998346957" target="_blank" class="pl-0 pr-3"><span class="icon-facebook"></span>acebook</a>
                            <a href="https://twitter.com/apostolictesti1" class="pl-0 pr-3" target="_blank"><span class="icon-twitter"></span></a>
                        </div>
                        <div class="col-md-5">
                            <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                            <form action="." method="post" id="subscribe_form">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    {{form.email}}
                                    <div class="input-group-append">
                                        <button class="btn btn-primary text-white" type="submit" id="button-addon2">Send</button>
                                    </div>
                                </div>
                            </form>
                            <div id="message-card" class="alert alert-dismissible fade show">
                                <span class="card-body">
                                    <a id="message"></a>
                                    <i id='message-icon' class=""></i>
                                </span>
                        
                            </div>
                            <!-- alert-message end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Developed
                            with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://mobile.twitter.com/TaiwoAdegite" target="_blank">adegitetaiwo</a> |
                            Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    </div>
    <script id="dsq-count-scr" src="//apostolictestimony.disqus.com/count.js" async></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/rangeslider.min.js' %}"></script>



    <script src="{% static 'js/typed.js' %}"></script>
    <script>
        var typed = new Typed('.typed-words', {
            strings: ["a Tool to put the devil to shame.",
                "the physical prove to God's Love!",
                " an Encouragment to the weak.",
                " a reminder of God's Might!"],
            typeSpeed: 60,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
        });
    </script>

    <script src="{% static 'js/main.js' %}"></script>

    <script>
        $(document).ready(() => {
                $(document).on('submit', '#subscribe_form', (e) => {
                    e.preventDefault();

                    let email_input = $('#subscribe_input').val()
                    let messageCard = document.getElementById('message-card'),
                        message = document.getElementById('message'),
                        messageIcon = document.getElementById('message-icon')


                    const emailIsValid = (mailInput) => {
                        return /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(mailInput)
                    }

                    $.ajax({
                        type: 'POST',
                        url: '',
                        data: {
                            email: email_input,
                            csrfmiddlewaretoken: $('input[name= csrfmiddlewaretoken]').val(),
                        },

                        success: () => {
                            if (emailIsValid(email_input)) {
                                //set message card class
                                messageCard.classList.remove('alert-warning')
                                messageCard.classList.add('alert-success')
                                //set success text message
                                message.textContent = 'Thank you for your Subscription, please check your Email for Update'
                                messageIcon.className = 'icon icon-check'

                                //hide form
                                $('#subscribe_form').hide()

                            } else {
                                //set message card class
                                messageCard.classList.remove('alert-success')
                                messageCard.classList.add('alert-warning')
                                //set success text message
                                message.textContent = 'Something went wrong please check your email is if it Valid'
                                messageIcon.className = 'icon icon-warning'

                            }

                        },
                        error: () => {
                            //set message card class
                            messageCard.classList.remove('alert-success')
                            messageCard.classList.add('alert-warning')
                            //set success text message
                            message.textContent = 'Something went wrong please check your email is if it Valid'
                            messageIcon.className = 'icon icon-warning'
                        },
                    })
                });

                $(document).on('submit', '#create_form', (e) => {
                    let confirm_form = confirm(`Are you sure you want to submit ? Testimony won't be editable after submission. If you'll still like to cross-check for typo errors Click 'Cancel' otherwise Click 'OK' `);

                    if (!confirm_form) {
                        e.preventDefault()
                    }
                });

            });

    </script>

</body>

</html>