{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> [Complete !] Reset Password | ApostolicTestimony </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static "fonts/icomoon/style.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.theme.default.min.css" %}">

    <link rel="stylesheet" href="{% static "css/bootstrap-datepicker.css" %}">

    <link rel="stylesheet" href="{% static "fonts/flaticon/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "css/aos.css" %}">
    <link rel="stylesheet" href="{% static "css/rangeslider.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173198413-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-173198413-1');
    </script>


</head>

<body>

    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-2 bg-white" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-10 col-xl-2">
                        <h1 class="mb-0 site-logo"><a href="{% url 'index' %}" class="text-black h2 mb-0"
                                style="font-family:arial rounded mt; font-size: 16px;">Apostolic Testimony</a></h1>
                    </div>
                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                    
                            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active"><a href="{% url 'index' %}"><span>Home</span></a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'dashboad' %}">User Profile</a></li>
                                <li><a href="{% url 'sigout' %}">Log Out</a></li>
                                {% else %}
                                <li><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                <li><a href="{% url 'signUp' %}">Sign Up</a></li>
                                {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>


                    <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a
                            href="#" class="site-menu-toggle js-menu-toggle text-black"><span
                                class="icon-menu h3"></span></a></div>

                    </div>

            </div>
    </div>
    <hr style="border: 1px solid #7971ea;">
    </header>

    <section class="message-sent container" style="margin-bottom: 120px;">
        <h3 class="alert alert-success">Password reset complete <span class="icon icon-check"></span></h3>
        <br>
        <p style="font-family: arial rounded mt;">Your password has been set. You may go ahead and log in now.</p>
        <a href="{% url 'login' %}">Log in</a>
    </section>

    {% endblock %}
    </div>