{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>SIGN UP | Christain Testimony</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor_up/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts_up/font-awesome-4.7.0/css/font-awesome.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "fonts_up/icomoon/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "fonts_up/icomoon/demo-files/demo.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor_up/animate/animate.css" %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static "vendor_up/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor_up/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css_up/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css_up/main.css" %}">
<!--===============================================================================================-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-173198413-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-173198413-1');
</script>

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'images_up/img-01.png' %}" alt="IMG">
				</div>

				<form class="login100-form validate-form" method="POST">

					<!-- Alert message begin  -->
					{% for message in messages %}
					<div class="alert {{message.tags}} alert-dismissible fade show" role="alert"">
										                                <ul style=" display:flex; list-style: none;">
						<li>{{message}}</li>
						<li style="margin-left:20px;">
							<!--error icon-->
							{% if message.tags == "alert-danger" %}
							<span class="fa fa-warning"></span>
							{% endif %}
							<!--success icon-->
							{% if message.tags == 'alert-success' %}
							<span class="fa fa-check"></span>
							{% endif %}</li>
					</div>
					{% endfor %}
					<!-- Alert message ends -->

					<!-- CSRF_TOKEN  -->
					{% csrf_token %}
					<span class="login100-form-title">
						SignUp
					</span>
					<br>
					{% for message in messages %}
					<span class="login100-form-title">{{message}}</span>
					{% endfor %}
					<div class="wrap-input100 validate-input" data-validate="your first name is required">
						<input class="input100" type="text" name="first_name" placeholder="First name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "your last name is required">
						<input class="input100" type="text" name="last_name" placeholder="Last name">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass" id="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "passwords does not match!">
						<input class="input100" type="password" name="comfirm_pass" id="confirmPassword" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Create an Account

						</button>
					</div>
					<div class="text-center p-t-12">
						<span class="txt1">
							OR
						</span>
						<span class="txt2" >
							Login with
						</span>
						<br>
						<span class="txt3">
							<a class="fa fa-facebook facebook_style" href="{% url 'social:begin' 'facebook' %}"></a>
						</span>
					</div>

					<div class="text-center p-t-50">
						<a class="txt2" href="{% url 'login' %}">
							I have an Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'vendor_up/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_up/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor_up/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_up/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'fonts_up/icomoon/demo-files/demo.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor_up/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js_up/main.js' %}"></script>

</body>
</html>